# Ignore Git portable client
/mingit/
/mingit.zip

# Ignore GitHub CLI portable client
/gh/

# Ignore local batch helper script
/login_github.bat



# Python caches
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
